* {
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 690px;
}

.confirm__heading {
    text-align: center;
    margin-bottom: 40px;
}

.form {
    width: 100%;
    text-align: center;
}

.form__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.form__group-title {
    font-weight: bold;
}

.form__input--last-name {
    padding: 10px;
    width: 76px;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-right: 7px;
    border: none;
    outline: none;
}

.form__input--first-name {
    padding: 10px;
    width: 421px;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-right: 7px;
    border: none;
    outline: none;
}

.form__input--text input {
    padding: 10px;
    width: 510px;
    border: none;
    outline: none;
    margin-right: 7px;
}

.form__input--textarea {
    align-items: start;
}

.form__input--textarea {
    margin-right: 7px;
    width: 510px;
    height: 200px;
    resize: none;
}

.form__input--opinion {
    text-align: left;
}

.form__label--text {
    font-weight: bold;
    position: relative;
    top: -75px;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.form__button-submit--fix {
    background-color: #fff;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    height: 18px;
    width: 66px;
}