.confirm__content {
    margin: 0 auto;
    max-width: 690px;
    padding: 30px 15px;
}

.confirm__heading {
    margin-bottom: 40px;
    text-align: center;
}

.form {
    text-align: center;
    width: 100%;
}

.form__group {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.form__group-title {
    font-weight: bold;
}

.form__input--last-name {
    border: none;
    cursor: default;
    margin-right: 7px;
    outline: none;
    padding: 10px;
    width: 76px;
}

.form__input--first-name {
    border: none;
    cursor: default;
    margin-right: 7px;
    outline: none;
    padding: 10px;
    width: 421px;
}

.form__input--text input {
    border: none;
    cursor: default;
    margin-right: 7px;
    outline: none;
    padding: 10px;
    width: 510px;
}

.form__input--textarea {
    align-items: start;
}

.form__input--textarea {
    height: 200px;
    margin-right: 7px;
    resize: none;
    width: 510px;
}

.form__input--opinion {
    text-align: left;
}

.form__label--text {
    font-weight: bold;
    position: relative;
    top: -85px;
}

.form__input--textarea textarea {
    border: none;
    cursor: default;
    margin-right: 47px;
    outline: none;
    padding: 10px;
    resize: none;
    width: 470px;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    background-color: #000;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    height: 50px;
    padding: 10px;
    width: 150px;
}

.form__button-submit--fix {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #000;
    height: 18px;
    outline: none;
    width: 66px;
}