* {
    box-sizing: border-box;
}

.thanks {
    margin: 0 auto;
    max-width: 690px;
}

.thanks__text {
    padding-top: 300px;
    text-align: center;
}

.thanks__button {
    margin-top: 60px;
    margin-left: 270px;
}

.thanks__button--submit {
    background-color: #000;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    height: 50px;
    padding: 10px;
    width: 150px;
}